<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Your Cart</h2>
<ul>
    {% for item in cart.cart_items.all %}
        <li>
            {{ item.product.name }} - {{ item.quantity }} x ${{ item.product.price }}
            <form method="POST" action="{% url 'remove_from_cart' item.product.id %}">
                {% csrf_token %}
                <button type="submit">Remove</button>
            </form>
        </li>
    {% endfor %}
</ul>

<p>Total Price: ${{ cart.get_total_price }}</p>

</body>
</html>